@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About Us</h1>
    <h4>We are an amazing team with:</h4>
    <p>100 employees</p>
    <p>2 offices</p>
    <p>Good working environment</p>
    <p>Huge database of book titles</p>
</div>